/* HEADER STYLES */
.main-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 7em;
  padding: 1em .5em;
  position: fixed;
  width: 100%;
  background-color: #000000; }

.search {
  margin: auto;
  height: 2.5em;
  font-size: 16px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  width: 90%;
  max-width: 460px;
  color: #000000; }

.search:focus {
  outline: none;
  border: 2px solid #FFFF82; }

.search-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  width: 90%;
  max-width: 460px;
  margin: auto auto auto 40%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }
  .search-options input {
    margin-right: 0.5em; }
  @media (min-width: 480px) {
    .search-options {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      justify-content: space-around;
      margin: auto; } }

/* GALLERY STYLES */
.gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 7em;
  background-color: #000000; }
  @media (min-width: 480px) {
    .gallery {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      flex-wrap: wrap; } }

.thumbnail {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin: 30px auto 30px;
  padding: 1em;
  background-color: #000000;
  border: 2px solid #FFFF82;
  border-radius: 5%; }
  @media (min-width: 480px) {
    .thumbnail {
      margin: 0 30px 60px 30px; } }

.species-label {
  color: #FFFF82;
  font-family: Baloo Da, cursive;
  font-size: 2em;
  text-align: center; }

/* OVERLAY STYLES */
#swapi-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

#swapi-inner-overlay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  width: 80%;
  height: 200px;
  margin: 10% auto 2%;
  color: #FFFF82;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg); }
  @media (min-width: 768px) {
    #swapi-inner-overlay {
      height: 400px; } }
  @media (min-width: 1280px) {
    #swapi-inner-overlay {
      height: 500px; } }
  #swapi-inner-overlay:after {
    content: ' ';
    background-image: linear-gradient(black 0%, transparent 100%); }

.arrow {
  background-color: transparent;
  width: 15%;
  font-size: 4em;
  padding: 10px 10px;
  color: #FFFF82;
  border: none; }

#left-arrow {
  margin-right: auto; }

#right-arrow {
  margin-left: auto; }

#swapi-overlay button:focus {
  outline: none; }

#swapi-caption {
  position: absolute;
  top: 100%;
  animation: scroll 45s linear 1s infinite;
  color: #FFFF82;
  font-family: Baloo Da, cursive;
  font-size: 2em;
  width: 60%;
  max-width: 600px;
  margin: auto;
  display: block; }

.hidden {
  display: none; }

@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
* {
  box-sizing: border-box; }

body {
  background-color: #000000;
  color: #FFFF82; }

/*# sourceMappingURL=application.css.map */
