/* OVERLAY STYLES */

#swapi-overlay {
	background: $overlay-background-color;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: justify;
}

#swapi-inner-overlay {
	@include flexy(row, center);
	background: $inner-overlay-background-color;
	justify-content: center;
	width: 80%;
	height: 200px;
	margin: 10% auto 2%;
	color: $secondary-color;

	//scroll via https://www.sitepoint.com/css3-starwars-scrolling-text/
	//text-align: justify;

	overflow: hidden;
	transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;


	transform: perspective(300px) rotateX(20deg);
	-webkit-transform: perspective(300px) rotateX(20deg);
	-moz-transform: perspective(300px) rotateX(20deg);

	@include mq(medium) {
		height: 400px;
	}

	@include mq(extra-large) {
		height: 500px;
	}

	//for scroll
	&:after {
		//position: absolute;
		content: ' ';
		left: 0;
		right: 0;
		top: 0;
		bottom: 10%;
		background-image: linear-gradient(rgba(0,0,0,1) 0%, transparent 100%);
	}
}

.arrow {
	background-color: transparent;
	width: 15%;
	font-size: 4em;
	padding: 10px 10px;
	color: $secondary-color;
	border: none;
}

#left-arrow {
	margin-right: auto;
}

#right-arrow {
	margin-left: auto;
}

#swapi-overlay button:focus {
	outline: none;
}

#swapi-caption {
	//scroll
	position: relative;
	top: 100%;
	animation: scroll 45s linear 1s infinite;
	-webkit-animation: scroll 45s linear 1s infinite;
	-moz-animation: scroll 45s linear 1s infinite;
	-o-animation: scroll 45s linear 1s infinite;

	color: $secondary-color;
	font-family: $font-primary;
	font-size: 2em;
	width: 60%;
	max-width: 600px;
	margin: auto;
	display: block;
}

.hidden {
	display: none;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}








