$white: #ffffff;
$gray: #e5e5e5;

$primary-color: $gray;
$secondary-color: #85b46b;

$overlay-background-color: rgba(0,0,0,0.7);

$text-color-default: $gray;
$text-color-light: $white;

$font-primary: 'Arial, sans-serif';

$font-size-default: 1rem;



