$white: #ffffff;
$gray: #e5e5e5;
$black: #000000;
$red : #FF5C5C;

$primary-color: $gray;
$secondary-color: #FFFF82;
$tertiary-color: $red;

$inner-overlay-background-color: rgba(0,0,0,0.8);
$overlay-background-color: rgba(0,0,0,0.7);

$text-color-default: $gray;
//$text-color-light: $white;

$font-primary: Baloo Da, cursive;

$font-size-default: 1rem;



